:root {
  /* Modal */
  --modal-overlay-bg: rgba(0, 0, 0, 0.4);
  --modal-z-index: 1000;
}
.modal-backdrop {
  position: fixed;
  inset: 0;

  background: var(--modal-overlay-bg);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: var(--modal-z-index);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header button {
  border: none;
  cursor: pointer;

  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
}

.modal-body {
  margin-top: var(--space-xl);
}