.course-page {
  padding: 30px;
}

/* ENROLL BUTTONS */
.enroll-btn,
.enrolled-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  transition: 0.3s;
}

.enroll-btn {
  background-color: #2563eb;
}

.enroll-btn:hover {
  background-color: #1e40af;
}

.enrolled-btn {
  background-color: green;
}

/* ENROLLED SECTION */
.enrolled-course {
  margin-top: 30px;
  padding: 15px;
  background: #f9fafb;
  border-radius: 10px;
  width: fit-content;
}

/* MENTOR SECTION */
.mentor-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* MENTOR CARD */
.mentor-card {
  width: 220px;
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
  border: 2px solid transparent;
}

.mentor-card:hover {
  transform: scale(1.03);
}

/* ACTIVE SELECTED MENTOR */
.mentor-card.active {
  border: 3px solid green;
  background-color: #eaffea;
}

/* IMAGE */
.mentor-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

/* BUTTON INSIDE CARD */
.mentor-card button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #2563eb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.mentor-card button:hover {
  background-color: #1e40af;
}

/* SELECTED BOX */
.selected-box {
  margin-top: 40px;
  padding: 20px;
  background-color: #eef2ff;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

.selected-box img {
  width: 100%;
  border-radius: 10px;
}